<launch>
  <node pkg="nmea_comms" type="serial_node" name="nmea_serial" ns="gps" output="screen">
    <param name="port" value="/dev/ttyACM0" />
  </node>
  <node pkg="topic_tools" type="relay" name="relay" args="/gps/rx /spare/tx">
  </node>
  <node pkg="nmea_comms" type="socket_node" name="nmea_socket" ns="spare" output="screen">
  </node>
</launch>
